@page "/employee/dashboard"
@rendermode InteractiveServer
@using Gotorz.Data
@using Gotorz.Services
@using Gotorz.Models
@using Microsoft.EntityFrameworkCore
@inject AuthStateService authState
@inject NavigationManager navigation
@inject ApplicationDbContext db

<h3>Employee Dashboard</h3>

@if (!authState.IsLoggedIn || (authState.UserRole != "Employee" && authState.UserRole != "Admin" ))
{
    <p>Redirecting</p>
}
else
{
    <div class="mb-3">
        <label>Search by Email:</label>
        <input type="text" @bind="searchEmail" placeholder="Enter user email" class="form-control" />
        <button class="btn btn-primary mt-2" @onclick="SearchUserData">Search</button>
    </div>


    @if (userBookings != null)
    {
        <h4>Bookings for @searchEmail</h4>
        <table class="table table-sm small">
            <thead>
                <tr>
                    <th>User email</th>
                    <th>Booking id</th>
                    <th>Departure flight id</th>
                    <th>Departure takeoff time</th>
                    <th>Departure landing time</th>
                    <th>Return flight id</th>
                    <th>Return takeoff time</th>
                    <th>Return landing time</th>
                    <th>Hotel</th>
                    <th>Hotel id</th>
                    <th>Hotel checkin time</th>
                    <th>Hotel checkout time</th>
                    <th>Booking creation time</th>
                    <th>Departure flight price</th>
                    <th>Return flight price</th>
                    <th>Hotel price</th>
                    <th>Total price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in userBookings)
                {
                    <tr>
                        <td>@booking.UserEmail</td>
                        <td>@booking.Id</td>
                        <td>@booking.DepartureFlightId</td>
                        <td>@booking.TakeoffTimeDepartureFlight.ToString("f")</td>
                        <td>@booking.LandingTimeDepartureFlight.ToString("f")</td>
                        <td>@booking.ReturnFlightId</td>
                        <td>@booking.TakeoffTimeReturnFlight.ToString("f")</td>
                        <td>@booking.LandingTimeReturnFlight.ToString("f")</td>
                        <td>@booking.HotelName</td>
                        <td>@booking.HotelId</td>
                        <td>@booking.HotelCheckIn.ToString("f")</td>
                        <td>@booking.HotelCheckOut.ToString("f")</td>
                        <td>@booking.CreationDate.ToString("f")</td>
                        <td>@booking.DeparturePriceAtCreation.ToString("N2") DKK</td>
                        <td>@booking.ReturnPriceAtCreation.ToString("N2") DKK</td>
                        <td>@booking.HotelPriceAtCreation.ToString("N2") DKK</td>
                        <td>@booking.TotalPrice.ToString("N2") DKK</td>
                    </tr>
                }
            </tbody>
        </table>

    }

    @if (userMessages != null)
    {
        <h4>Messages for @searchEmail</h4>
        <ul class="list-group">
            @foreach (var msg in userMessages)
            {
                <li class="list-group-item">
                    <strong>@msg.TimeSent.ToShortDateString()</strong>: @msg.Content
                </li>
            }
        </ul>
    }

}


<button class="btn btn-primary mt-2" @onclick=EmployeePanelRedirect>Back</button>

@code {
    private List<RegisterModel> users;
    private string selectedUserEmail;
    private RegisterModel selectedUser;
    private List<Booking> userBookings = new();
    private List<Message> userMessages = new();
    private string searchEmail;

    protected override async Task OnInitializedAsync()
    {
        if (authState.IsLoggedIn && (authState.UserRole == "Employee" || authState.UserRole == "Admin"))
        {
            users = await db.Users.ToListAsync();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && (!authState.IsLoggedIn || (authState.UserRole != "Employee" && authState.UserRole != "Admin")))
        {
            navigation.NavigateTo("/login", true);
        }
    }

    private async Task SearchUserData()
    {
        if (!string.IsNullOrWhiteSpace(searchEmail))
        {
            userBookings = await db.Bookings
            .Where(b => b.UserEmail == searchEmail)
            .ToListAsync();

            userMessages = await db.Messages
            .Where(m => m.RecipientEmail == searchEmail)
            .ToListAsync();
        }
    }

    private void EmployeePanelRedirect()
    {
        navigation.NavigateTo("/employee");
    }
}
